* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-portfolio {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../../assets/images/bg-01.jpg);
}

.wrap-header {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.wrap-experiencia {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.wrap-educacion {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.wrap-proyectos {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.wrap-skills {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}