<div id="proyectos-container">
    <div class="row p-2 justify-content-md-center" id="proyectos-title">
        <div class="col-11">
            <h2 class="text-start pl-3">Proyectos</h2>
        </div>
        <div class="col-1 d-flex align-content-center">
            <a class="m-auto" href=""><i class="fa-solid fa-circle-plus fa-xl"></i></a>
        </div>
    </div>    
    <div class="proyecto-item row pb-3">
        <div class="proyecto-logo col-xs-12 col-sm-12 col-md-3 col-lg-2 p-2">
            <img class="proyecto-figure" src="../../../assets/images/img-proy-generica.jpg" alt="Unavailable">
        </div>
        <div class="proyecto-desc col-xs-12 col-sm-12 col-md-8 col-lg-9 p-2">
            <div>
                <h3 class="proyecto-titulo mt-2 mb-2 text-center">Nombre de Proyecto 1</h3>
                <p class="proyecto-descripcion">Descripción del proyectos, Lorem, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, numquam. Facilis eius nulla ducimus vero ratione et obcaecati mollitia atque possimus dignissimos velit alias at quae, repellat eum! Laudantium, dolorum?</p>
                <p class="proyecto-link mt-2 mb-2 text-center"><a href="#">Link a Proyecto</a></p>
            </div>
        </div>
        <div class="proyectos-crud col-xs-12 col-sm-12 col-md-1 col-lg-1 pt-2 d-flex justify-content-around">
            <div>
                    <a href=""><i class="fa-solid fa-pen-to-square fa-xl"></i></a>
                    &nbsp;
                    <a href=""><i class="fa-solid fa-trash-can fa-xl"></i></a>
            </div>
        </div>
    </div>
    <div class="proyecto-item row pb-3">
        <div class="proyecto-logo col-xs-12 col-sm-12 col-md-3 col-lg-2 p-2">
            <img class="proyecto-figure" src="../../../assets/images/img-proy-generica.jpg" alt="Unavailable">
        </div>
        <div class="proyecto-desc col-xs-12 col-sm-12 col-md-8 col-lg-9 p-2">
            <div>
                <h3 class="proyecto-titulo mt-2 mb-2 text-center">Nombre de Proyecto 2</h3>
                <p class="proyecto-descripcion">Descripción del proyectos, Lorem, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, numquam. Facilis eius nulla ducimus vero ratione et obcaecati mollitia atque possimus dignissimos velit alias at quae, repellat eum! Laudantium, dolorum?</p>
                <p class="proyecto-link mt-2 mb-2 text-center"><a href="#">Link a Proyecto</a></p>
            </div>
        </div>
        <div class="proyectos-crud col-xs-12 col-sm-12 col-md-1 col-lg-1 pt-2 d-flex justify-content-around">
            <div>
                    <a href=""><i class="fa-solid fa-pen-to-square fa-xl"></i></a>
                    &nbsp;
                    <a href=""><i class="fa-solid fa-trash-can fa-xl"></i></a>
            </div>
        </div>
    </div> 

</div>
