*{
    margin: 0;
    padding: 0;
}

#educacion-container{
}

#educacion-title{
    width: 100%;
    background-color: rgba(255, 255, 255,0.6);
}

.educacion-item{
    background-color: rgba(255, 255, 255,0.8); 
}

.educacion-logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.educacion-figure{
    margin: auto;
    width: 100%;
    max-width: 140px;
    max-height: 140px;
}

.educacion-desc div p{
    margin-top: 3px;
}
