<div id="educacion-container">
    <div class="row p-2 justify-content-md-center" id="educacion-title">
        <div class="col-11">
            <h2 class="text-start pl-3">Educacion</h2>
        </div>
        <div class="col-1 d-flex align-content-center">
            <a class="m-auto" href=""><i class="fa-solid fa-circle-plus fa-xl"></i></a>
        </div>
    </div>    
    <div class="educacion-item row pb-3">
        <div class="educacion-logo col-xs-12 col-sm-12 col-md-3 col-lg-2 p-2">
                <img class="educacion-figure" src="https://upload.wikimedia.org/wikipedia/commons/1/14/Logo_de_la_Universidad_de_Buenos_Aires.jpg" alt="">
        </div>
        <div class="educacion-desc col-xs-12 col-sm-12 col-md-8 col-lg-9 p-2">
            <div>
                <p><strong>Institución:</strong> Universidad de Buenos Aires</p> 
                <p><strong>Título:</strong> Ingeniero Industrial</p>
                <p><strong>Desde:</strong>Desde: 10/2011 <strong>hasta:</strong> Actualidad</p>
                <p><strong>Status:</strong> Completada</p>
            </div>
        </div>
        <div class="educacion-crud col-xs-12 col-sm-12 col-md-1 col-lg-1 pt-2 d-flex justify-content-around">
            <div>
                <a href=""><i class="fa-solid fa-pen-to-square fa-xl"></i></a>
                &nbsp;
                <a href=""><i class="fa-solid fa-trash-can fa-xl"></i></a>
            </div>
        </div>
    </div> 
    <div class="educacion-item row pb-3">
        <div class="educacion-logo col-xs-12 col-sm-12 col-md-3 col-lg-2 p-2">
                <img class="educacion-figure" src="https://upload.wikimedia.org/wikipedia/commons/0/05/INTI.svg" alt="">
        </div>
        <div class="educacion-desc col-xs-12 col-sm-12 col-md-8 col-lg-9 p-2">
            <div>
                <p><strong>Institución:</strong> Programa: Yo Programo</p> 
                <p><strong>Título:</strong> Full Stack Developer</p>
                <p><strong>Desde:</strong>Desde: 02/2022 <strong>hasta:</strong> Actualidad</p>
                <p><strong>Status:</strong> 85%</p>
            </div>
        </div>
        <div class="educacion-crud col-xs-12 col-sm-12 col-md-1 col-lg-1 pt-2 d-flex justify-content-around">
            <div>
                <a href=""><i class="fa-solid fa-pen-to-square fa-xl"></i></a>
                &nbsp;
                <a href=""><i class="fa-solid fa-trash-can fa-xl"></i></a>
            </div>
        </div>
    </div> 

</div>