<div class="row text-center justify-content p-2" id="header-banner">
</div>
<div class="row text-center p-2" id="header-data">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 align-justify-content" id="header-foto-container" >
        <img id="fotoPerfil" src={{URLfoto}} alt="">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" id="header-name-container">
        <div class="mt-2">
            <h1>Ignacio Mendiola</h1>
            <h2>Aca va mi título</h2>    
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="header-contact-container">
        <p>ignaciomendio@gmail.com</p>
        <p>ignaciomendio@gmail.com</p>
        <p>ignaciomendio@gmail.com</p>
        <p>ignaciomendio@gmail.com</p>
    </div>
</div>
<div class="row text-center p-2" id="header-aboutme">
    <h3>Sobre mi</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat amet corrupti possimus perspiciatis minus vitae illo reprehenderit quidem, maiores laudantium neque nisi quae illum aspernatur ad maxime sequi eos necessitatibus.</p>
</div>

    