<div class="row text-end justify-content p-2" id="header-banner">
    <div id="edit-but-container">
        <a class="m-auto d-inline" href=""><i class="fa-solid fa-pen-to-square fa-xl"></i></a>
    </div>
</div>
<div class="row text-center p-2" id="header-data">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 align-justify-content" id="header-foto-container" >
        <img id="fotoPerfil" src="https://thumbs2.imgbox.com/6e/63/uSJ4NdOE_t.png" alt="FOTO">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" id="header-name-container">
        <div class="mt-2">
            <h1>Ignacio Mendiola</h1>
            <h2>Ingeniero Industrial & Full Stack Developer</h2>    
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="header-contact-container">
        <p><i class="fa-solid fa-envelope contact-text"></i>&nbsp;ignaciomendio@gmail.com</p>
        <p><i class="fa-brands fa-whatsapp contact-text"></i>&nbsp;+54 9 11 5768 0192</p>
        <p><i class="fa-solid fa-location-pin contact-text"></i>&nbsp;Donizetti 141, Buenos Aires</p>
        <p><i class="fa-solid fa-earth-americas contact-text"></i>&nbsp;Argentina</p>
    </div>
</div>
<div class="row text-center p-2" id="header-aboutme">
    <h3 class="mt-3">Sobre mi</h3>
    <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur cumque voluptatibus accusamus aspernatur odit exercitationem, vitae vel, rerum eligendi temporibus unde officia repellendus. Mollitia rerum maxime totam enim voluptas! Suscipit!</p>
</div>

    