<div class="container-login">
  <div class="wrap-login p-3">
    <form [formGroup]="form">
      <span class="title-login mb-3">LOGIN</span>
      <div class="mb-3">
        <div>
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <small  class="text-muted fw-lighter">&nbsp;(Shold be "test@testing.com" for succesful login)</small>
        </div>
        <input type="email" formControlName="email" 
        [ngClass]="{'is-invalid' : email?.errors && email?.touched, 'is-valid' : !email?.errors && email?.touched }" 
        class="form-control" id="exampleInputEmail1" [(ngModel)]="usuario.email">
        <div *ngIf="email?.errors && email?.touched">
          <p *ngIf="email?.hasError('required')" class="text-danger">
            El campo E-Mail es Oblligatorio
          </p>
          <p *ngIf="email?.hasError('email')" class="text-danger">
            Formato de E-mail no válido
          </p>
        </div>
      </div>
      <div class="mb-3">
        <div>
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <small  class="text-muted fw-lighter">&nbsp;(Shold be "pass1234" for succesful login)</small>
        </div>
        <input type="password" formControlName="password" 
        [ngClass]="{'is-invalid' : password?.errors && password?.touched, 'is-valid' : !password?.errors && password?.touched }" 
        class="form-control" id="exampleInputPassword1" [(ngModel)]="usuario.password">
        <div *ngIf="password?.errors && password?.touched">
          <p *ngIf="password?.hasError('required')" class="text-danger">
            la contraseña es Obligatoria
          </p>
          <p *ngIf="password?.hasError('minlength')" class="text-danger">
            la contraseña debe tener al menos 8 caracteres
          </p>
        </div>
      </div>
      <div class="p-2 text-center mt-2">
        <button type="submit" style="width:100%" class="btn btn-primary" [disabled]="!form.valid" (click)="ingresar()">LOGIN</button>
      </div>
    </form>
  </div>
</div>
